{% extends 'base.html' %}
{% load static %}
{%block styles%}
    <link rel="stylesheet" href="{% static 'main.css'%}">
{%endblock%}
{% block content %}
    <h1 class = "about-label">HH.ru Parser</h1>
    <hr>
    <div class="description">
        <p>Добро пожаловать в программу парсинга сервиса Headhunter!</p>
        <p>
            Для использования парсера, пожалуйста, авторизируйтесь по кнопке Login, расположенной слева.
        </p>
        <p>
            Если же вы еще не зарегистрированы, сделайте это прямо сейчас :)
        </p>
    <ul>
        <li>Парсер работает только с вакансиями, выложенными на территории Российской Федерации; <br></li>
        <li>Для того, чтобы обновить список регионов, направлений деятельности и других словарей, воспользуйтесь кнопкой <b>Обновить список регионов</b>;</li>
        <li>Для того, чтобы выполнить поиск по вакансиям, воспользуйтесь кнопокой <b>Парсер</b>. Имейте ввиду, что обязательным фильтром является регион;</li>
        <li>Для того, чтобы вернуться к последнему запросу, воспользуйтесь кнопкой <b>Просмотреть последний запрос</b>;</li>
        <li>Для того, чтобы выполнить выгрузку сохраненного поиска, воспользуйтесь кнопкой <b>Сохранить как CSV</b>.</li>
        <br><br><br><br><br><br><br>
    </ul>
    </div>
<p class="copyright">&#169; Затинщиков С.В., 2022</p>
{% endblock %}