{% extends 'base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'login.css'%}">
{%endblock%}
{% block content %}
    <h1>Авторизация</h1><br>


    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
        <div class="login">
        <b>Имя пользователя</b> <br>
        {{ form.username }}
        </div> <br>

        <div class="password">
        <b>Пароль</b><br>
        {{ form.password }}
        </div> <br>
    <button type="submit" class="btn btn-success">Авторизоваться</button>
    </form>
    {% if form.errors %}
        <div class="form-errors">
            <p id="notfound">Не найдено такой комбинации логина и пароля.</p>
            <p id="tryagain">Пожалуйста, попробуйте снова.</p>
        </div>
    {% endif %}

{% endblock %}